/** form styles 
font-family: 'Roboto', sans-serif;
**/
body{
	background-image: url("background.jpg");
	background-color: #B0E0E6;
	color: #FFF;
}

body::before{
	content: "";
	position: fixed;
  	height: 100%;
  	width: 100%;
  	z-index: -1;
	background: rgb(0,0,255, 0.2);	
}

/**Header style**/
.topnav{
	display: flex;
	justify-content: space-between;
	background-color: #DCDCDC;
	border-radius: 20px;
	padding: 1px;
	box-shadow: 2px 2px 6px 0px #000;
}
.topnav a{
	display: flex;
	float: left;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	padding: 1px 20px;
	font-size: 15px;
	margin: 0px;
}
.topnav div{
	display: flex;
	float: right;
	color: #000;
	text-align: center;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
}
.topnav a:hover{
	background-color: #FFF;
	color: #A9A9A9;
	border-radius: 10px;
}
.title{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.header{
	padding: 0 0.625rem;
	margin-bottom: 1.875rem;	
}
#title{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-shadow: 3px 3px 0 #000;
}
#description{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	text-shadow: 4px 4px 4px #000;
}
/** form style**/

form{
	max-width: 650px;
	margin: 0px auto 0 auto;
	background-color: #000;
	background-color: rgb(0,0,0, 0.8);
  	padding: 30px;
  	border-radius: 10px;
}
.form-group{
	padding: 20px;
}
.form-group-age{
	padding: 20px;
	width: 20%;
}
label{
	font-family: 'Roboto', sans-serif;
	display: flex;
	text-align: left;
	margin-bottom: 5px;
	font-size: 18px;
}
.form-control{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
 	width: 97%;
 	padding: 10px;
  	background-color: #DCDCDC;
  	border: 2px solid #0000FF;
  	border-radius: 5px;
  }
.form-group p{
	display: flex;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 5px;
	margin-top: 0px;
	font-size: 16px;
}
#dropdown{
	width: 50%;
	color: #808080;
	font-size: 18px;
	cursor: pointer;
}
option{
	font-size: 18px;
	color: #000;
}
.clue{
	font-family: 'Roboto', sans-serif;
	margin-left: 10px;
	font-size: 16px;
}
.input-text-area{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	min-height: 80px;
	width: 97%;
	padding: 10px;
	resize: vertical;
	background-color: #DCDCDC;
  	border: 2px solid #0000FF;
  	border-radius: 5px;
}
.input-radio{
	width: 25px;
	cursor: pointer;
}
.checkbox{
	width: 30px;
	cursor: pointer;
}
.submit-button{
	position: absolute;
	left: 50%;
	font-size: 18px;
	padding: 5px;
	border: 2px solid #0000FF;
  	border-radius: 5px;
  	background-color: #DCDCDC;
  	cursor: pointer;

}


/**.form-control:focus{
	border-color: #80bdff;
  	outline: 0;
  	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
